<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<div class="container" style="width: 50%; margin: 30 45;">


    <div class="card-body d-flex justify-content-center " style="width: 100%">

      <div class="con">
        <form method="POST" enctype="multipart/form-data" id='docs'>

          {% csrf_token %}

          <div class="card-body">

              <div class="form-group">
                  <label for="InputTitle">Document</label>
                  <input type="file" class="form-control" id="doc_name" name="doc_name">
              </div>

              <div class="">
                  <button type="button" id="sub" class="btn btn-primary">Submit</button>
              </div>
        
          </div>

          
        </form>
      </div>
      
    
  </div>




</div><br>




<script>

$(document).ready(function(){

    $("#sub").click(function(e){
        e.preventDefault();
        var data = new FormData($('#docs').get(0));
        var token = '{{csrf_token}}';

        $.ajax({
            url: "/docs", // same url 'action' in form
            type: 'POST',
            headers: { "X-CSRFToken": token },
            data: data,
            contentType: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function(data) {
                if(data=="done"){
                    window.location.href="/"
                    }
                else{
                  Swal.fire('Error', 'Password or Username incorrect', 'error')
                    .then(function () {
                        window.location.href="/docs"
                        })
                }
      }
      })
      return false;
  })


    $(function () {

        // Summernote
        $('#summernote').summernote()

        // // CodeMirror
        // CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
        //   mode: "htmlmixed",
        //   theme: "monokai"
        // });

        // $('#reservationdate').datetimepicker({
        //     format: 'L'
        // });

      })


  })
</script>

</body>
</html>